@model LONE.Models.EmailAddressViewModel

<div class="form-group">
    @Html.LabelFor(model => model.contact_email, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.contact_email)
        @Html.ValidationMessageFor(model => model.contact_email)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.contact_email2, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.contact_email2)
        @Html.ValidationMessageFor(model => model.contact_email2)
    </div>
</div>